
# Archivos de entorno
.env

# Node.js
/node_modules

# Logs de npm y yarn
npm-debug.log
yarn-error.log

# Archivos sensibles de configuración
/src/config/db/mongoDB.db.js

# Carpeta dist de Angular (si estás usando Angular)
dist/

# Cachés de Angular y npm
.angular/cache/
npm-cache/

# Otros logs
logs/
*.log

# Sistemas operativos y editores
.DS_Store
Thumbs.db
.idea/
.vscode/

# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

